@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Handjet:wght@100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-image: url('assets/img/background-pagina-adolescentes.jpg');
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(5px);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

a:hover {
    color: orangered;
} 

/* HEADER */

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-family: "Black Ops One", system-ui;
    font-size: 3rem;
    color: white;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle__btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action__btn {
    background-color: orangered;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action__btn:hover {
    scale: 1.05;
    color: #fff;
}

.action__btn:active {
    scale: 0.95;
}

/* Dropdown menu */

.dropdown__menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown__menu.open {
    height: 170px;
    padding: 0.5rem;
}

.dropdown__menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown__menu .action__btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*destaque */

section#destaque {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#destaque h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/*Responsive Design */

@media (max-width: 992px){
    .navbar .links, .navbar .action__btn {
        display: none;
    }

    .navbar .toggle__btn {
        display: block;
    }

    .dropdown__menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown__menu {
        left: 2rem;
        width: unset;
    }
}